.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #c5b695;
  border-bottom: 2px solid #c4c595;
}

nav a img {
  height: 2.5rem;
  margin-right: -0.5rem;
  width: auto;
}

a,
a:hover {
  color: initial;
  text-decoration: unset;
}

.swiper-slide {
  background: unset !important;
}

.ali,
.ali1,
.character,
.mohamed,
.mohamed1 {
  display: block !important;
}

.Character .swiper-wrapper {
  height: auto !important;
}

footer .foot .foot1 img {
  height: fit-content;
}

.A1,
.A6 {
  width: 220px;
  height: 220px;
}
.A1 img,
.A6 img {
  max-width: 220px;
  max-height: 220px;
}

.A2 {
  width: 220px;
  height: 140px;
}
.A2 img {
  max-width: 220px;
  max-height: 140px;
}

.A3 {
  width: 140px;
  height: 130px;
}
.A3 img {
  max-width: 140px;
  max-height: 130px;
}

.A4 {
  width: 220px;
  height: 230px;
}
.A4 img {
  max-width: 220px;
  max-height: 230px;
}

.A5 {
  width: 145px;
  height: 190px;
}
.A5 img {
  max-width: 145px;
  max-height: 190px;
}

.B1 {
  width: 220px;
  height: 220px;
}

.B1 img {
  max-width: 220px;
  max-height: 220px;
}

.B2 {
  width: 145px;
  height: 190px;
}

.B2 img {
  max-width: 145px;
  max-height: 190px;
}

.B3 {
  width: 220px;
  height: 230px;
}

.B3 img {
  max-width: 220px;
  max-height: 230px;
}

.B5 {
  width: 145px;
  height: 190px;
}

.B5 img {
  max-width: 145px;
  max-height: 190px;
}

.B6 {
  width: 220px;
  height: 220px;
}

.B6 img {
  max-width: 220px;
  max-height: 220px;
}

.mac img {
  height: auto;
}

.inputs label,
inputs textarea {
  text-align: start;
  margin-left: 1rem !important;
}

.icontact img {
  height: auto;
}

.lang-icon {
  color: #c5b695d4;
}

.arabic-version .newsletter-content {
  margin: 0 2rem 0 0;
}

@media screen and (max-width: 991px) {
  .arabic-version #Homepage .more-content {
    margin: 0 !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
  }

  .news img,
  .blogs img {
    height: 275px !important;
  }

  .blogs .icontent span {
    font-size: 3.6vw !important;
  }

  div.newsletter-content {
    margin: unset !important;
  }
}

.swiper-wrapper,
.swiper {
  height: fit-content !important;
}

.arabic-version .greennn {
  margin: 0 0 0 2vw;
}

@media screen and (max-width: 991px) {
  .welcome {
    background-size: 100% 100%;
  }

  .newsletter-container {
    border-radius: 1rem;
    padding-bottom: 0;
    margin: 1rem;
    width: calc(100% - 2rem);
  }

  .greennn {
    padding: 1rem;
    background: white !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
  }

  .greennn .newsletter-form {
    width: auto;
    margin: 0 !important;
  }

  .bigrid-container {
    max-width: 100%;
    scale: 0.7;
    margin: 0 !important;
  }

  .toponly {
    width: auto;
  }

  .mission-timeline-content-wrapper {
    flex-direction: column-reverse;
    margin: 0 !important;
    padding: 0 !important;
    max-width: fit-content;
    gap: 0;
  }

  .B3 {
    width: 150px;
    height: 150px;
  }
  .B1 {
    width: 160px;
    height: 160px;
  }
  .B6 {
    width: 170px;
    height: 130px;
  }
}

.forcetwo {
  margin-bottom: 1rem;
}

/*.explore-more{*/
/*    margin-top: 10rem !important;*/
/*    padding: 3rem;*/
/*}*/

/*.background-right {*/
/*    background-image: url(../assets/img/bglogo1.png);*/
/*    background-position: 100% 50%;*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    width: 100%;*/
/*    height: auto !important;*/
/*}*/

.background-right {
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.explore-more-button-container {
  margin-top: 3rem;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .explore-more-button-container {
    margin-top: 0;
    margin-bottom: 2vh;
  }
}

.swiper-slide img {
  object-fit: contain;
}

/*@media screen and (min-width: 992px) {*/
/*    .Character .swiper-slide:not(.swiper-slide-next){*/
/*        filter: blur(5px);*/
/*    }*/

/*    .Character .swiper-slide.swiper-slide-next{*/
/*        transform: scale(1.1);*/
/*    }*/

/*    .Character .mySwiperTwo{*/
/*        padding: 2rem;*/
/*    }*/
/*}*/

footer {
  margin-top: 3rem;
}

footer .foot {
  justify-content: space-around;
  padding-left: unset !important;
}

footer .foot .foot1 {
  margin-left: unset !important;
  margin-right: unset !important;
}

.image-container {
  background-image: none;
}

.text-container {
  width: 100%;
}

.background-right {
  height: fit-content;
  padding: 1rem 0;
  background-position: 150% -100px;
}

.background-right .more-content {
  margin-left: unset;
  margin-right: unset;
  padding-inline: 10rem;
  width: 100%;
}

.background-right .more-content h3 {
  font-weight: 600 !important;
}

.background-right .more-content img {
  width: 100%;
  height: 70vh;
  margin-block: 2.5rem;
}

div.splitter {
  display: block;
  width: 20%;
  height: 2px;
  margin-top: 1rem;
  background-color: #065045;
}

.Character .mySwiperTwo {
  filter: blur(5px);
}

.icontent {
  width: auto;
  text-align: left;
  margin-left: 1rem;
}

.Character {
  margin: 0 2rem 5rem;
}

.arabic-version .image-container img {
  padding-left: unset !important;
  padding-right: 15vw;
}

.text-container {
  padding: unset !important;
}

.arabic-version .more-content {
  margin: unset !important;
}

.arabic-version .background-right {
  background-position: -50% -100px !important;
}

#toggleContent {
  padding-inline: 10rem;
}

@media screen and (min-width: 992px) {
  .icontent p {
    font-size: 1vw;
  }

  .icontent span {
    font-size: 1vw;
  }
}

/* Spinner */
.spinner {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* News letter */
.newsletter-container::before {
  border-top-left-radius: 70px;
  border-bottom-left-radius: 130px;
}

.news-letter .gear {
  top: -14%;
  right: 6%;
  width: 220px;
}
.news-letter .dot {
  width: 130px;
  left: 11%;
  bottom: 17%;
}
.newsletter-container form {
  width: auto;
}
@media (max-width: 991px) {
  .newsletter-container::before,
  .newsletter-form .back-only {
    z-index: 1;
  }
  .news-letter .dot {
    bottom: 9%;
  }
}
@media screen and (max-width: 991px) {
  .greennn {
    padding: 1rem;
    background: unset !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .newsletter-form .back-only {
    width: auto;
  }
  .newsletter-form input[type="submit"] {
    font-size: 2.3vw;
  }
}
@media (max-aspect-ratio: 1 / 1) {
  .newsletter-form .back-only {
    height: unset !important;
  }
}
@media (max-aspect-ratio: 1 / 1) {
  .newsletter-form input[type="submit"] {
    font-size: 2.3vw;
    /*width: 30%;*/
    padding: inherit;
    height: inherit;
  }
}

/* About us */
@media (max-width: 991px) {
  .mission-timeline-content-wrapper {
    flex-direction: row;
    align-items: center;
  }
  .vision {
    align-items: center !important;
  }
}
@media (max-width: 768px) {
  .mission-timeline-content-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .mission-timeline-content-wrapper .timeline {
    order: 2;
  }
}

/* Contact */
.icontact .timeline-item {
  display: block;
}
.icontact .timeline-marker {
  border-radius: 0;
  rotate: 45deg;
  left: -45px;
}
.icontact .timeline-line {
  left: -42px;
  top: 0.85rem;
  height: 140%;
}
.icontact .timeline-marker:nth-child(2) {
  top: 62%;
}
.icontact .submitt {
  margin: unset;
}

/* footer */
footer {
  position: relative;
  margin-top: 15rem !important;
}
footer .bg-gear {
  position: absolute;
  z-index: -1;
  top: -43%;
  width: 500px;
}
@media (max-width: 768px) {
  footer .bg-gear {
    width: 160px;
  }
}

.newsletter-form input[type="submit"] {
  width: fit-content !important;
}

.background-right {
  background-image: unset !important;
  position: relative;
}

.background-right .spinner {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 1;
}

.more-content {
  z-index: 999;
}

.mission-timeline-content-wrapper .bigrid-container,
.vision .bigrid-container,
.journey-content-wrapper .bigrid-container {
  width: 500px;
}

.mission-timeline-image {
  width: 100%;
}

.vision img {
  width: 100%;
}

.journey-image {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .mission-timeline-content-wrapper,
  .vision,
  .journey-content-wrapper,
  #Contact-Us .icontact {
    display: flex;
    flex-direction: column-reverse;
  }

  .mission-timeline-content-wrapper .bigrid-container,
  .vision .bigrid-container,
  #Contact-Us .grid-container {
    margin-top: 3rem;
  }
}

.arabic-version * {
  text-align: right;
}

/* Explore More */
.explore-more {
  overflow: hidden;
}
.explore-more p {
  margin-bottom: 45px;
}
@media (max-width: 992px) {
  .background-right .gear {
    right: 2% !important;
    top: 1% !important;
  }
}
@media (max-width: 768px) {
  .background-right .more-content {
    padding: 1rem;
  }
  .background-right .more-content img {
    height: auto;
  }
  .explore-more .background-right .gear {
    right: 2% !important;
    top: 14% !important;
  }
  .explore-more .background-right .gear img {
    width: 200px;
  }
}
.background-right .gear {
  right: -11%;
  top: 25%;
}
.background-right .gear img {
  width: 300px;
}
.background-right .more-content img {
  width: 80%;
  height: auto;
}
/* Blogs */
.blogs {
  overflow: hidden;
}
@media (max-width: 992px) {
  .blogs .swiper-slide {
    flex-direction: column;
  }
  .blogs .icontent {
    text-align: center;
  }
}

/* Welcome Section */
@media (max-width: 768px) {
  .image-container img {
    padding-left: 0;
  }
}
@media (max-width: 992px) {
  .arabic-version .welcome-section .text-container h1,
  .arabic-version .welcome-section .text-container h2,
  .arabic-version .welcome-section .text-container p {
    text-align: center;
  }
}
.arabic-version .image-container img {
  padding-right: unset;
}

/* News Letter */
@media (max-width: 768px) {
  .news-letter .gear {
    right: 13%;
    top: -9%;
  }
  .news-letter .gear img {
    width: 200px;
  }
}
@media screen and (max-width: 991px) {
  div.newsletter-content {
    margin: unset !important;
    padding-left: 1rem;
  }
}
/* Footer */
footer .bg-gear {
  position: absolute;
  z-index: -1;
  top: -43%;
  width: auto;
}
footer .bg-gear img {
  width: 300px;
}
@media (max-width: 992px) {
  footer .bg-gear {
    width: auto;
    top: -51%;
  }
  footer .bg-gear img {
    width: 250px;
  }
}
@media (max-width: 768px) {
  footer {
    margin-top: 8rem !important;
  }
  footer .bg-gear {
    width: auto;
    top: -30%;
  }
  footer .bg-gear img {
    width: 114px;
  }
}
.arabic-version .foot3 {
  margin-left: 30px;
}

/* Contact */
@media (max-width: 768px) {
  .icontact .icontent {
    text-align: center;
  }
}

/* Blogs */
.blogs .swiper {
  width: 75%;
}
@media (max-width: 992px) {
  .blogs .swiper {
    width: 100%;
  }
}
.blogs .swiper-wrapper {
  min-height: 414px !important;
}
@media (max-width: 992px) {
  .blogs .swiper-wrapper {
    min-height: 350px !important;
  }
}
.blogs .swiper-slide picture {
  flex: 1;
  display: flex;
  justify-content: end;
  height: 100%;
}
.blogs .swiper-slide picture img {
  width: fit-content;
  height: 560px;
  width: 319px;
}
.blogs .icontent {
  flex: 1;
}
.arabic-version .blogs .icontent h1 {
  text-align: center;
}
.arabic-version .blogs .swiper-slide {
  direction: rtl;
}
.arabic-version .blogs .swiper-slide .icontent {
  margin-left: 0;
  margin-right: 1rem;
}
@media (max-width: 992px) {
  .arabic-version .blogs .icontent h2 {
    text-align: center;
  }
  .arabic-version .blogs .icontent p {
    text-align: center;
  }
}
.blogs .icontent p {
  width: 70%;
}
.blogs .icontent span {
  font-size: 1.6vw;
}
@media (max-width: 992px) {
  .blogs .icontent p {
    width: 100%;
  }
}
.arabic-version .swiper {
  direction: ltr;
}
/* Charachter */
.arabic-version .Character .icontent h1 {
  text-align: center;
}

/* About */
@media (max-width: 992px) {
  .vision,
  .journey-content-wrapper {
    flex-direction: column;
    max-width: unset;
    align-items: center;
  }
  .mission-timeline-content-wrapper {
    flex-direction: column-reverse;
    margin-bottom: 2rem !important;
    max-width: unset;
  }
}
@media (max-width: 768px) {
  .mission-timeline-content-wrapper,
  .vision,
  .journey-content-wrapper {
    flex-direction: column;
    max-width: unset;
  }
}
.inline-4df69a18-7be5-4bf7-b166-6d0f5e677a01 {
  white-space: unset;
  line-height: 1.8;
}

/* Welcome */
.welcome {
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.welcome p {
  max-width: 500px;
}
@media (max-width: 992px) {
  .welcome h1,
  .welcome h3 {
    font-size: 6.5vw;
  }
  .welcome p {
    font-size: 2.8vw;
    margin-bottom: 1rem;
  }
}

/*Contact*/
@media (max-width: 992px) {
  .timeline {
    width: 75%;
  }
  #Contact-us form {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
}
.arabic-version .icontent {
  margin-left: 0;
  margin-right: 1rem;
}
.icontact .submitt {
  width: fit-content;
}

/*Home*/
#Homepage-body footer .bg-gear {
  display: none;
}

@media screen and (max-width: 991px) {
  #toggleContent {
    padding-inline: 5vw !important;
  }

  #toggleContent .mt-5 {
    margin-top: unset !important;
  }

  .blog-image {
    max-width: 100%;
    padding-inline: 10vw;
  }
}
.blog-image-container {
  width: 100%;
}
.arabic-version .image-container img {
  padding-right: 15vw !important;
  padding-left: 0 !important;
}


#Contact-Us .welcome .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-form .back-only {
    border-radius: 2rem;
}

.newsletter-form input[type="submit"]{
    border-radius: 2rem;
}

.newsletter-container{
    border-radius: 90px !important;
}