@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  background-color: #fbf2e6 !important;
  scrollbar-width: 8px;
  scrollbar-color: #065045;
  scroll-behavior: smooth;
}

/* Style the scrollbar itself (works on Chrome, Edge, and Safari) */
::-webkit-scrollbar {
  width: 8px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #fbf2e6;
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #065045;
  border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #06473f;
}

html {
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  /* height: 6rem; */
  padding: 1rem 1rem;
  backdrop-filter: blur(0px);
  position: absolute;
}

nav a {
  display: inline-block;
  text-decoration: none;
}

nav a img {
  height: 2.5rem;
  margin-right: -0.5rem;
}

img[src="../assets/img/logo2.png"] {
  padding-top: 0.4rem;
}

nav .navbtns {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 2vw;
  /* Adds space between each list element */
  margin-right: 3vw;
  /* Ensures it stays at the top right */
  margin-top: -3rem;
}

nav .navbtns li {
  display: flex;
}

nav .navbtns li a {
  color: #c5b695d4;
  text-decoration: none;
  border-bottom: 2px solid #c5b69500;
  padding-bottom: 3px;
  text-transform: uppercase;
  transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
  font-weight: 600;
}

nav .navbtns li a:hover {
  color: #c5b695;
  border-bottom: 2px solid #c4c595;
}

.welcome {
  background-image: url("../assets/img/contactUswelcome.jpg");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: fit-content;
  padding: 0rem 0rem 0rem 5rem;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.inners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding-top: 10vh;
  padding-bottom: 3rem;
}

.only-content {
  justify-content: flex-start;
  .text-content {
    margin-left: 2rem;
  }
}

.mac img {
  width: 35vw;
}

.welcome .text-content {
  display: inline-block;
  width: 40vw;
  text-align: left;
}

.welcome h1,
.welcome h2,
.welcome p {
  color: #fbf2e6;
}

.welcome h1 {
  width: 100%;
  font-weight: 500;
  font-size: 3.2vw;
}

.welcome h2 {
  font-weight: 300;
}

.welcome p {
  width: 100%;
  font-size: 1.3vw;
}

.welcome a {
  background-color: #f9e8d59a;
  color: #fbf2e6;
  border: 1px solid #fbf2e6;
  text-align: center;
  text-decoration: none;
}

.iphone {
  display: inline;
  width: fit-content;
  min-width: 40%;
  max-width: 45%;
}

.icontact {
  margin: 10rem 10vw 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15vw;
}

.icontact img {
  width: 100%;
  display: inline-block;
}

.icontent {
  width: 40vw;
}

.icontent * {
  color: #065045;
}

.icontent h1 {
  font-size: 3.5vw;
}

.icontent h2 {
  font-size: 2vw;
}

.icontent p {
  margin-top: 1rem;
  font-size: 1.5vw;
}

.mess {
  margin-top: 6vh;
}

.formm {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 40vw;
}

textarea {
  resize: vertical;
  background-color: #fbf2e6;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.inputs label,
inputs textarea {
  margin-left: 1.5vw;
  font-size: 1.3vw;
}

.inputs input,
.inputs textarea {
  background-color: #fbf2e6;
  border: 0px solid rgba(6, 80, 69, 0.2);
  border-bottom-width: 2px;
  transition: 0.5s;
  padding: 1rem;
  font-size: 1.3vw;
}

.inputs textarea {
  transition: border-color 0.5s;
  min-height: fit-content;
}

.inputs textarea::placeholder {
  transition: 0.5s;
  min-height: fit-content;
}

.inputs input:focus,
.inputs textarea:focus {
  border: 0px solid rgb(6, 80, 69);
  border-bottom-width: 2px;
  outline: 0;
  transition: 0.5s;
}

.inputs input::placeholder,
.inputs textarea::placeholder {
  color: rgba(6, 81, 69, 0.2);
  width: 100%;
  transition: 0.5s;
}

.inputs input:focus::placeholder,
.inputs textarea:focus::placeholder {
  color: rgb(6, 81, 69);
  width: 100%;
  transition: 0.5s;
}

.submitt {
  border: 0px solid red;
  padding: 1vh 3vw;
  background-color: #065045;
  color: white;
  text-transform: uppercase;
  width: 40%;
  margin: auto;
  font-size: 1.3vw;
  border-radius: 100px;
  font-weight: 500;
  transition: 0.5s;
}

.submitt:hover {
  background-color: #0b9c86;
}

.grid-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.container-one {
  display: flex;
  width: 100%;
  align-items: flex-end;
  gap: 1vw;
  margin-left: 4.5vw;
}

.container-two {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 1vw;
}

.grid-item img {
  border-radius: 5px;
}

.pone {
  width: 9vw;
  height: 9vw;
}

.ptwo {
  width: 6vw;
  height: 7.8vw;
}

.pthree {
  width: 9vw;
  height: 9vw;
}

.pfour {
  width: 9vw;
  height: 5.7vw;
}

.forcetwo {
  gap: 5vw;
}

footer {
  width: 100%;
  display: flex;
  height: 106vh;
  background-image: url("../assets/img/bglogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 55%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: -10%;
}

footer .foot {
  padding: 6vh 7vw;
  background-color: #065045;
  height: 40%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

footer .foot .foot1 {
  display: flex;
  margin-right: 35%;
  margin-top: -2%;
}

footer .foot .foot1 img {
  width: 10vw;
}

footer .cpyrght {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto !important;
  background-color: #edd9c1;
  color: black;
  width: 100%;
  text-align: center;
  font-size: 1.1vw;
}

.foot2 {
  margin-right: 5vw;
}

.foot2 h3,
.foot3 h3 {
  color: #d5b08e;
  margin-bottom: 2vh;
  font-size: 2.35vw;
}

.foot2 ul {
  list-style-type: none;
}

.foot2 li,
.foot2 li a {
  color: #e4e3d7;
  font-weight: 200;
  text-decoration: none;
  margin: 1vh 0;
  transition: 0.5s;
  font-size: 2.1vw;
}

.foot3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.foot3 .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.social a {
  text-decoration: none;
  color: #e4e3d7;
  transition: 0.5s;
  font-size: 1.5vw;
}

.social a:hover,
.foot2 li a:hover {
  color: #d5b08e;
}

@media (max-aspect-ratio: 1/1) {
  nav {
    width: 100%;
    height: 5vh;
    padding: 1vh 1vw 0 1vw;
    margin-bottom: 0vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a img {
    height: 5vw;
    margin-right: 0.3vw;
  }

  img[src="../assets/img/logo2.png"] {
    padding-top: 0.4vh;
  }

  nav .navbtns li a {
    font-size: clamp(1vw, 2.5vw, 1rem);
  }

  nav .navbtns {
    gap: 2vw;
    margin-right: 3vw;
    margin-top: unset;
  }

  img[src="img/Logo.png"] {
    margin: 0 -0.5rem 0 0;
  }

  img[src="img/logo2.png"] {
    margin: 0 0rem 0 0;
    padding-top: 0.3rem;
  }

  .welcome {
    height: fit-content;
    padding: 0;
    border-bottom-left-radius: 13vw;
    border-bottom-right-radius: 13vw;
  }

  .inners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 7vh 0 7vh 0;
  }

  .icontact {
    flex-direction: column;
    margin: 0vh 0vw 2vh 0;
  }

  .iphone {
    display: inline;
    width: fit-content;
    width: 30%;
    margin: 5vh 20vw 3vh 20vw;
  }

  .icontent {
    width: 80%;
  }

  .icontent h1 {
    font-size: 4.5vw;
  }

  .icontent h2 {
    font-size: 3.5vw;
  }

  .icontent p {
    margin-top: 1rem;
    font-size: 2.5vw;
  }

  .formm {
    width: 100%;
  }

  .inputs {
    gap: 0.5vh;
  }

  .inputs label,
  inputs textarea {
    margin-left: 1.5vw;
    font-size: unset;
  }

  .inputs input,
  .inputs textarea {
    font-size: unset;
    padding: 1vh 2vw;
  }

  .submitt {
    font-size: 3.3vw;
  }

  .grid-container {
    max-width: 90%;
    gap: 3vw;
  }

  .container-one {
    width: 100%;
    gap: 3vw;
    margin-left: 9vw;
  }

  .container-two {
    width: 100%;
    gap: 3vw;
  }

  .grid-item img {
    border-radius: 5px;
  }

  .pone {
    width: 18vw;
    height: 18vw;
  }

  .ptwo {
    width: 12vw;
    height: 15.6vw;
  }

  .pthree {
    width: 18vw;
    height: 18vw;
  }

  .pfour {
    width: 18vw;
    height: 11.4vw;
  }

  .forcetwo {
    gap: 6vh;
    margin-top: 10vh;
  }

  footer {
    height: 35vh;
  }

  footer .foot {
    padding: 2vh 1vw;
  }

  footer .foot .foot1 {
    margin-right: 15vw;
  }

  footer .foot .foot1 img {
    width: 10vw;
  }

  .foot2 {
    margin-right: 5vw;
  }

  .foot2 h3,
  .foot3 h3 {
    color: #d5b08e;
    margin-bottom: 2vh;
    font-size: 2vw;
  }

  .foot2 ul {
    list-style-type: none;
  }

  .foot2 li,
  .foot2 li a {
    color: #e4e3d7;
    font-weight: 200;
    text-decoration: none;
    margin: 1vh 0;
    transition: 0.5s;
    font-size: 1.6vw;
  }

  .foot3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .foot3 .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }

  .social a {
    text-decoration: none;
    color: #e4e3d7;
    transition: 0.5s;
    font-size: 2vw;
  }

  footer .cpyrght {
    height: 2vh;
    background-color: #edd9c1;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 2.8vw;
  }
}

@media (max-aspect-ratio: 1/1) and (min-aspect-ratio: 7.2/10) {
  footer {
    height: 50vh;
  }
}

/* Start Contact Page */
.icontact {
  gap: 10vw;
}
@media (max-width: 992px) {
  .icontact .icontent {
    order: -1;
    margin-top: 2rem;
  }
}
.forcetwo {
  margin-top: 0;
}
/* End Contact Page */

/* nav */
.navbar {
  position: absolute !important;
}
.navbar .nav-link {
  color: #c5b695d4;
  text-decoration: none;
  border-bottom: 2px solid #c5b69500;
  padding-bottom: 3px;
  text-transform: uppercase;
  transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
  font-weight: 600;
  margin-inline: 0.5rem;
}
.navbar .nav-link:hover {
  color: #c5b695;
  border-bottom: 2px solid #c4c595;
}
.navbar-toggler i {
  color: #c5b695;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem #c5b695 !important;
}
/* Default navbar color */
#mainNavbar {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  ); /* Light color */
  height: auto;
}

/* Navbar color when toggled */
#mainNavbar.toggled {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8940826330532213) 100%
  );
  height: auto;
}
.navbar .nav-link {
  text-align: center;
}
nav a img {
  height: 2.5rem;
  margin-right: -0.5rem;
}

/* Start Contact Page */
.mac img {
  width: 45vw !important;
}
footer ul {
  padding-left: 0;
}
.icontact {
  gap: 10vw;
}
@media (max-width: 992px) {
  .welcome {
    padding: 0;
  }
  .welcome .inners {
    flex-direction: column;
    gap: 0;
  }
}
.welcome .text-content {
  background-color: #00000069;
  border-radius: 15px;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .icontact {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
  .icontent h1 {
    font-size: 4.5vw;
  }
  .icontent h2 {
    font-size: 3.5vw;
  }
  .icontent p {
    margin-top: 1rem;
    font-size: 2.5vw;
  }
  .inputs label,
  .inputs textarea {
    margin-left: 1.5vw;
    font-size: unset;
  }
  .inputs input,
  .inputs textarea {
    font-size: unset;
    padding: 1vh 2vw;
  }
  .submitt {
    font-size: 3.3vw;
  }
  .icontact .icontent {
    order: -1;
    margin-top: 2rem;
    width: 95%;
  }
  .icontact form {
    width: 90%;
    margin: auto;
  }
  .grid-container {
    max-width: 90%;
    gap: 3vw;
  }
  .pone {
    width: 18vw;
    height: 18vw;
  }
  .ptwo {
    width: 12vw;
    height: 15.6vw;
  }
  .pthree {
    width: 18vw;
    height: 18vw;
  }
  .pfour {
    width: 18vw;
    height: 11.4vw;
  }
}
.forcetwo {
  margin-top: 0;
}
.welcome h1 {
  width: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2rem;
}
.welcome p {
  width: 100%;
  font-size: 1rem;
  text-align: center;
}
.mac img {
  width: 68vw;
}
.welcome .text-content {
  display: inline-block;
  width: 85%;
  text-align: left;
}
/* End Contact Page */
@media (min-width: 992px) {
  .foot2 li,
  .foot2 li a {
    font-size: 1.1vw;
  }
}

.foot2 h3,
.foot3 h3 {
  color: #d5b08e;
  margin-bottom: 2vh;
  font-size: 1.35vw;
}
@media (max-width: 992px) {
  .foot2 h3,
  .foot3 h3 {
    color: #d5b08e;
    margin-bottom: 2vh;
    font-size: 2.35vw;
  }
}
footer {
  background-image: unset;
  height: auto;
}
@media (max-width: 992px) {
  footer {
    background-image: unset;
  }
  footer .foot {
    padding-left: 0.6rem;
    gap: 0.5rem;
  }
  footer .foot3 {
    align-items: flex-start;
  }
}

.newsletter-container {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.newsletter-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background-color: #065045;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
.newsletter-content h2 {
  color: #065045;
  position: relative;
}
.newsletter-content p {
  color: #757575;
  position: relative;
}
.newsletter-container form {
  position: relative;
}
@media (max-width: 768px) {
  .newsletter-container {
    background-color: #065045;
  }
  .newsletter-container::before {
    content: unset;
  }
  .newsletter-content h2,
  .newsletter-content p {
    color: #fff;
  }
}
.navbar .nice-select {
  height: 52px;
  display: flex;
  align-items: center;
  width: fit-content !important;
  color: #c5b695d4;
  background-color: inherit;
}
.navbar .nice-select::after {
  display: none;
}
.lang {
  border-radius: 10px;
  padding: 5px;
  color: #fee2be;
}
.lang:hover {
  color: #fee2be;
}
